body{
    font-family: 'Oswald', sans-serif;
    background-color: aliceblue;
}

h1{
    margin: 0;
}

.header{
    background-color: antiquewhite;
    margin: 0;
    height: 290px;
    border-bottom: 0.5em solid black;
}
.name, .header-text{
    padding-top: 5%;
    padding-left: 5%;
    overflow: auto;
    
}
.photo{
    margin-top: 2%;
    margin-bottom: 2%;
    padding-right: 5%;
    width: auto;
    height: 250px;
    float: right;
   
}

footer{
    background-color: antiquewhite;
}